
.header {
    display: flex;
    background: var(--black-1);
    height: 4rem;
    justify-content: space-between;
    padding: 1.25rem 2.5rem;
    align-items: center;
}

.logo {
    display: flex;
    gap: 3.75rem;
    align-items: flex-end;
}

.font_logo {
    font-size: 1.75rem;
}

.link_buttons {
    display: flex;
    gap: 1.125rem;
    font-size: 1rem;
    text-transform: capitalize;
}

.link_button {
    color: var(--gray-3);
    transition: 0.5s;
}

.link_button_select {
    color: var(--gray-1);
}

.link_button:hover {
    color: var(--gray-1);
}

.header_auth_buttons {
    display: flex;
    gap: 0.625rem;
}

.header_auth_button {
    border-radius: 0.625rem;
    padding: 0.625rem 1rem;
    background: var(--black-1);
    font-weight: 600;
    transition: 0.5s;
}

.header_auth_button:hover {
    background: var(--black-1);
    color: var(--title-sub-font-color);
}

