.slide {
    position: absolute;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    transition: 1s;
}

.localLogin{
    transform: translateX(calc(-22.875rem - 1rem));
}

.loginForm{
    position: relative;
    height: 18.75rem;
    overflow: hidden;
}
