.label {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.p {
    text-transform: uppercase;
    color: var(--gray-2);
    font-size: 0.875rem;
}

.input {
    outline: none;
    background: var(--gray-6);
    border: 1px solid transparent;
    border-radius: 0.75rem;
    width: 100%;
    padding: 0.625rem;
    transition: 0.5s;
}

.input:invalid{
    background: var(--gray-2);
}


.input:focus {
    border: 1px solid var(--gray-4);
    margin: 0;
}
